apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "akash-provider.fullname" . }}
  labels:
    app: {{ template "akash-provider.name" . }}
    chart: {{ template "akash-provider.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    akash.network/component: provider
spec:
  selector:
    matchLabels:
      app: {{ template "akash-provider.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "akash-provider.name" . }}
        release: {{ .Release.Name }}
        akash.network/component: provider
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "/bin/sh" , "/config/run.sh" ]
          env:
            - name: AKASH_DATA
              value: /data
          ports:
            - containerPort: {{ .Values.provider.port }}
              name: http
          volumeMounts:
            - name: config
              mountPath: /config
            - name: data
              mountPath: /data
      volumes:
        - name: config
          configMap:
            name: {{ template "akash-provider.fullname" . }}
        - name: data
          PersistentVolumeClaim:
            claimName: {{ template "akash-provider.fullname" . }}
