if ! has make ; then
	echo "make is not installed"; exit 1
fi

if ! has go ; then
	echo "go is not installed"; exit 1
fi

if ! has unzip ; then
	echo "unzip is not installed"; exit 1
fi

if ! has wget ; then
	echo "wget is not installed"; exit 1
fi

if ! has curl ; then
	echo "curl is not installed"; exit 1
fi

if ! has npm ; then
	echo "npm is not installed"; exit 1
fi

if ! has jq ; then
	echo "jq is not installed"; exit 1
fi

if ! has readlink ; then
	echo "readlink is not installed"; exit 1
fi

export AKASH_ROOT=$(pwd)

dotenv

PATH_add "$AKASH_DEVCACHE_NODE_BIN"
PATH_add "$AKASH_DEVCACHE_BIN"

export AKASH=$AKASH_DEVCACHE_BIN/akash

make cache
