# etc
*.DS_Store

#vendor
/vendor

# binaries
/akash

# dev artifacts
/devdata

# chain data
*.tsd

# test artifacts
debug.test

dist

#IDE
.idea/
*.iml
coverage.txt

.cache
0001-feat-update-Akash-to-Cosmos-SDK-0.40-Proto-Migration.patch
