source_up .envrc

if ! has grpcurl ; then
	echo -e "\033[31mgrpcurl is not installed"; exit 1
fi

if ! has tqdm ; then
	echo -e "\033[31mtqdm is not installed. https://github.com/tqdm/tqdm"; exit 1
fi

dotenv .env
