---
version: "0.1"

include:
  - "foo.yml"
  - "https://foo.yml"

services:

  db-master:
    image: postgres
    expose:
      - port: 5432
        proto: tcp
        to:
          - service: db-pool
          - service: db-pool
            global:  true
          - service: db-slave
            global: true

  db-slave:
    image: postgres-slave
    depends-on:
      - service: db-master
    expose:
      - port: 5432
        proto: tcp
        to:
          - service: db-pool

  db-pool:
    image: db-pool
    depends-on:
      - service: db-slave
      - service: db-master
    expose:
      - port: 5432
        proto: tcp
        to:
          - service: web

  web:
    image: foo:latest
    port: 80
    depends-on:
      - service: db-pool
    expose:
      - port: 80
        to:
          - global: true
      - port: 443
        to:
          - global: true

profiles:

  compute:
    web:
      cpu: 2
      memory: 3
      disk: 5
    db:
      cpu: 10
      memory: 10
      disk: 20
    db-pool:
      cpu: 5
      memory: 10
      disk: 5

  placement:
    westcoast:
      attributes:
        region: us-west
      pricing:
        web: 8
        db-master: 15
        db-slave: 10
        db-pool: 5
    eastcoast:
      attributes:
        region: us-east
      pricing:
        web: 5
        db-slave: 10
        db-pool: 5

deployment:

  db-master:
    westcoast:
      profile: db
      count: 1

  db-slave:
    westcoast:
      profile: db
      count: 1
    eastcoast:
      profile: db
      count: 1

  db-pool:
    westcoast:
      profile: db-pool
      count: 10
    eastcoast:
      profile: db-pool
      count: 5

  web:
    westcoast:
      profile: web
      count: 20
    eastcoast:
      profile: web
      count: 10
