---
name: tools

on:
  pull_request:
  push:
    branches:
      - main
      - mainnet/main

jobs:
  build:
    name: conventional commits
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webiny/action-conventional-commits@v1.3.0
