---
name: tools
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-yml-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check-yml-count
        run: |
          if [[ $(git ls-files '*.yml' ':!:codecov.yml' | wc -l) -ne 0 ]]; then git ls-files '*.yml' ':!:codecov.yml' && exit 1;fi
