name: tests

on:
  pull_request:
  push:
    branches: [ master ]

jobs:

  build-bins:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make bins
      - run: make image-bins

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make test-full

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make test-coverage
      - uses: codecov/codecov-action@v1

  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make test-integration

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - run: make build
      - run: make test-vet
      - run: make lintdeps-install
      - name: lint all
        run: $(go env GOPATH)/bin/golangci-lint run ./... --issues-exit-code=0
      - name: lint deadcode
        run: $(go env GOPATH)/bin/golangci-lint run ./...  --disable-all --enable deadcode
        continue-on-error: false
      - name: lint misspell
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable misspell
        continue-on-error: true
      - name: lint goerr113
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable goerr113
        continue-on-error: true
      - name: lint gofmt
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable gofmt
        continue-on-error: false
      - name: lint gocritic
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable gocritic
        continue-on-error: true
      - name: lint goconst
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable goconst
        continue-on-error: false
      - name: lint gochecknoglobals
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable gochecknoglobals
        continue-on-error: true
      - name: lint ineffassign
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable ineffassign
        continue-on-error: true
      - name: lint unparam
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable unparam
        continue-on-error: true
      - name: lint staticcheck
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable staticcheck
        continue-on-error: true
      - name: lint golint
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable golint
        continue-on-error: true
      - name: lint gosec
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable gosec
        continue-on-error: false 
      - name: lint scopelint
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable scopelint
        continue-on-error: false
      - name: lint prealloc
        run: $(go env GOPATH)/bin/golangci-lint run ./... --disable-all --enable prealloc
        continue-on-error: false
