name: tests
defaults:
  run:
    shell: bash

on:
  pull_request:
  push:
    branches:
      - master
      - mainnet/main

jobs:
  upgrade:
    runs-on: upgrade-tester
    steps:
      - uses: actions/checkout@v3
      - run: git fetch --prune --unshallow
      - name: set environment
        uses: HatsuneMiku3939/direnv-action@v1
      - uses: actions/setup-go@v3
        with:
          go-version: "${{ env.GOLANG_VERSION }}"
      - name: configure variables
        run: |
          test_required=$(./script/upgrades.sh test-required ${{ github.ref }})
          echo "TEST_REQUIRED=$test_required" >> $GITHUB_ENV
      - name: run test
        if: env.TEST_REQUIRED == 'true'
        run: |
          cd tests/upgrade
          make test
      - name: upload stderr
        if: always() && steps."run test".outcome != 'skipped'
        uses: actions/upload-artifact@v3
        with:
          name: stderr.log
          path: .cache/run/upgrade/stderr.log
      - name: upload stdout
        if: always() && steps."run test".outcome != 'skipped'
        uses: actions/upload-artifact@v3
        with:
          name: stdout.log
          path: .cache/run/upgrade/stdout.log
