name: wip

on:
  pull_request:
    types:
      - opened
      - edited
      - labeled
      - unlabeled
      - synchronize

jobs:
  wip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: akash-network/wip-check@v1
        with:
          labels: '["do-not-merge", "wip", "rfc"]'
          keywords: '["WIP", "wip", "RFC", "rfc"]'
